<% provide :title ,"Works" %>
<% provide :works_active ,"active" %>

<div class="container">
  <div class="h5">Worksの追加 <%= current_staff_user.username %></div>
  <%= render 'form', work: @work %>
</div>
