<% provide :title , @dashboard.present? ? "#{@dashboard.site_name}について" : t('about_title') %>
<% provide :about_active ,"active" %>

  <div class="container">
    <% if @dashboard.present? %>
      <div class="h5"><%= @dashboard.site_name %>について</div>
      <p><%= @dashboard.about_text %></p>
    <% end %>
  </div>
