<% provide :title , @dashboard.present? ? @dashboard.site_description : "Home" %>

<div class="top-img">
  <% if @dashboard.present? %>
  <h1 class="lead"><%= @dashboard.site_description %></h1>
  <% end %>
</div>
<div class="container">
  <div class="container">
    <% if @topics.present? %>
    <p class="h5">News</p>
    <div class="row">
      <% @topics.each do |topic| %>
      <div class="col-md-4">
        <h2><%= topic.title %></h2>
        <p><%= topic.body %></p>
        <p><%= link_to raw('View details &raquo;'), topic_path(:id => topic.slug), class: 'btn btn-secondary' %></p>
      </div>
      <% end %>      
    </div>
    <% end %>
  </div>
</div>