<p>こんにちは <%= @resource.email %>さん!</p>

<p>以下より新規パスワードを設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※本メールに心当たりの無い方は、本メールの破棄をお願いいたします。</p>
<p>パスワードは上記URLより変更されない限り変わりません。</p>
