<% provide :title ,"Dashboards" %>
<% provide :dashboards_active ,"active" %>

<div class="container">
  <div class="h1">
    <span class="h5">Dashboards</span>
    <span class="h5">
      <% if @dashboard.present? %>
        <%= link_to '設定', edit_dashboard_path(@dashboard), class: "btn btn-primary edit" %>
      <% else %>
        <%= link_to '設定', new_dashboard_path, class: "btn btn-primary new" %>
      <% end %>
    </span>
    <span class="h5">
      <%= link_to 'News', topics_path, class: "btn btn-primary" %>
    </span>
  </div>
</div>
